In [1]:
import pandas as pd
import matplotlib
%matplotlib inline

In [2]:
GRAPH = "../salomon/results/elementary.zip"
data = pd.read_pickle(GRAPH)

In [16]:
by_bandwidth = data.groupby("bandwidth").mean()
by_bandwidth

           min_sched_interval  sched_time         time  execution_time
bandwidth
32                   1.171196    0.047993  1548.644457        0.422979
128                  1.172933    0.047997  1485.197392        0.408333
512                  1.173511    0.047998  1475.467480        0.401691
2048                 1.173511    0.047998  1473.704759        0.396895
8192                 1.173511    0.047998  1473.629732        0.394238